<div class="row">
  <div class="col-md-10">
    <input type="text" [ngModel]="searchPhase" (ngModelChange)="searchPhaseChanged($event)" class="searchProductBar">
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary addProduct" (click)="addNewProduct()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowy</button>
  </div>
</div>
<div class="row" *ngFor="let product of availableProducts">
  <div class="col-md-12">
    <app-shop-item [productData]="product" (onDeleteProduct)="onProductDelete($event)"></app-shop-item>
  </div>
</div>